body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

.video_container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.video_container iframe {
    width: 150px;
    height: 85px;
    border-radius: 5px;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.video_container iframe:hover {
    opacity: 1;
}
